*:focus {
  outline: 0;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.roundbutton {
  background-color: rgb(73, 73, 73);
  border-radius: 100%;
  height: 100px;
  width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  right: 50px;
  bottom: 50px;
  position: absolute;
  z-index: 2;
}

.clock {
  font-size: 10em;
  font-weight: 1000;
}

.sidemenu {
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  width: 0px;
  background-color: #00000083;
  overflow-x: hidden;
  top: 0;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(.09, .24, .28, .97);
}

.sidemenu-active {
  width: 500px;
}

.settingtitle {
  color: #ffffff;
  font-size: 20px;
  padding-left: 10px;
}

.bgcolorbutton {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

body {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.09, .24, .28, .97);
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.Rubik {
  font-family: 'Rubik', sans-serif;
  font-size: 10em;
}

.Indie_flower {
  font-family: 'Indie Flower', cursive;
  font-size: 10em;
}

.center {
  display: flex;
  justify-content: center;
  -ms-transform: translateY(150%);
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
}

.red {
  background: linear-gradient(270deg, #a30000, #410000);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

.orange {
  background: linear-gradient(270deg, #ff6c35, #d5ab00);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

.yellow {
  background: linear-gradient(270deg, #ffee00, #9b9100);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

.green {
  background: linear-gradient(272deg, #00ff2b, #00450c);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

.blue {
  background: linear-gradient(272deg, #0090d4, #001145);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

.purple{
  background: linear-gradient(272deg, #6200d4, #250063);
background-size: 400% 400%;

-webkit-animation: AnimationName 15s ease infinite;
-moz-animation: AnimationName 15s ease infinite;
animation: AnimationName 15s ease infinite;
}

.pink{
  background: linear-gradient(272deg, #cb00cc, #670072);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}
.grey{
  background: linear-gradient(272deg, #414141, #7d7d7d);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}
.black{
  background: black;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}